
{% extends 'base/base.html' %}

{% block content %}

<form method='POST' action = '' enctype='multipart/form-data'>
	{% csrf_token %}
	{{ form.as_p }}


<!-- <label> Fecha de inicio</label<input type="date"  class="form-control" name="FechaInicio"  value="<< form.Observaciones.FechaInicio >>">-->

<input type="hidden" name="Usuario" value="{{ user.username }}" >


<!-- <input  name="{{ form.Observaciones.Usuario }}" value="{{ user.username }}" disabled>
	 -->
	<!-- <label for="Usuario"> Usuario:  <input id="Usuario" type="text" value="{{ user.username }}" disabled /> </label><p>
	-->
	<button type="submit" class="btn btn-primary"">Guardar</button>

</form>
{% if aceptar == True %}
<div class="alert alert-dismissible alert-success">
  <strong>Información guardada correctamente!</strong>
</div>
{% endif %}
{% endblock %} 