{% extends 'base/base.html' %}

{% block title %}
SESESP
{% endblock %}

{% block content %}
 <center>
    <table border="0" align="center">
    	<tr>
             
             <td width="50">
         <td width="50"><a class="btn btn-success" href="{% url 'indexTipoAuditoria:Crear_TipoAuditoria' %}"><span class=" glyphicon glyphicon-plus"></span> Tipo de auditoría </a></td>
             </td>

              </tr>
    </table>
</center>
  <br>

  <table id="DataTable" class="table table-striped table-bordered" >
  		<thead >
    <tr>
      <th>#</th>
      <th>Tipo de auditoría</th>
      
      <th>Acciones</th>
    </tr>
  		</thead>
  <tbody>
  {% if object_list %}
  {% for TipoAuditoria in object_list %}
    <tr>
    <td>{{ TipoAuditoria.idTipoAuditoria }}</td>
      <td>{{ TipoAuditoria.TipoAuditoria }}</td>
      
      <td><a class="btn btn-warning" href="{% url 'indexTipoAuditoria:Editar_TipoAuditoria' TipoAuditoria.idTipoAuditoria %}"><span class=" glyphicon glyphicon-pencil"></span> Editar</a>
      <a class="btn btn-danger" href="{% url 'indexTipoAuditoria:Eliminar_TipoAuditoria' TipoAuditoria.idTipoAuditoria %}"><span class=" glyphicon glyphicon-trash"></span> Eliminar</a>
      </td>        
      </tr> 
      {% endfor %}
      {% else %}
      <h1> No hay Registros </h1>
      {% endif %}
      </tbody>
</table> 




{% endblock%}